.box{
    border-color: brown;
    border-width: 8px;
    border-style: solid;
    text-align: center;
    padding: 200px;
    margin: 50px;
    height: 70vh;
    width: 50vw;
}
.heading{
    border-color: brown;
    /* border-width: 8px; */
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
}