body{
   background-color: black;
   color: white;
}
.navbar{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(9, 184, 39);
}
.navbar-left{
    padding-left: 20px;
}
.navbar-right{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.a-element{
    padding: 5px;
    margin: 10px;
    border: 20px color white;
    font-style: oblique;
    font-size: 20px;
    color: aliceblue;

}
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}
.home-left{
    width: 50vw;
    text-align: center;
    padding-left: 100px;
    font-style: oblique;
}
.home-right{
    width: 50vw;
    padding-left: 100px;
}
.services{
    text-align: center;
    padding: 30px;
}
.ser1{
    font-style: italic;
    font-size: 35px;
    color: rgb(18, 205, 18);
    letter-spacing: 5px;

}
.ser-card{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}
.ser2{
    border: 2px rgb(23, 194, 23) solid;
    margin: 20px;
}
.header{
    font-style: italic;
}
.p1{
    font-style: oblique;
}
.con-kvb{
    text-align: center;
}
.img-icon{
    padding: 10px;
}