
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

body{
    text-align: center;
}
H1{
    color: rgb(106, 106, 175);
    font-family: "Darumadrop One", serif;
    font-style: normal;
   text-decoration: overline;
   word-spacing: 50px;
   letter-spacing: 30px;
}
p{
    font-family: "Atkinson Hyperlegible Next", serif;
    font-style: italic;
    text-decoration: underline;
    font-size: 50px;
    letter-spacing: 20px;
    word-spacing: 10px;
}