.mybody{
    text-align: center;
    color: rgb(236, 7, 7);
   /* background-color: aquamarine; */
   /* border: 2px solid black; */
}
.head{
    font-size: 30px;
    /* background-color: aqua;000 */
    padding-top: 275px;
}